---
---

@charset "utf-8";

$black: #000;
$white: #fff;
$dark-green: #48b87d;

$bg-image: #333;
$hero-text-color: $white;
$text-shadown: $black;

$link: $dark-green;
$link-visited: $link;
$link-hover: $dark-green;
$link-focus: $link-hover;
$link-active: $link-hover;

@import 'bulma/bulma.sass';

@mixin reset-links() {
  a {
    border-bottom: 0;
    color: $link;
    font-weight: 500;

    &:active,
    &:focus,
    &:hover {
      background: none;
      color: $link-hover;
    }
  }
}

.navbar {
  .navbar-dropdown {
    border-top: none;
  }

  .navbar-item {
    img {
      max-height: 3.5rem;
      margin-top: -5px;
      margin-bottom: -5px;
    }
  }
}

.hero {
  background-clip: border-box;
  background-color: $bg-image;
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;

  &.no-image {
    height: auto;
    background-color: $bg-image;
  }

  @include tablet() {
    background-attachment: fixed;
    height: 50vh;
    min-height: 300px;

    &.no-image {
      min-height: 40vh;
    }
  }
}

.hero-body {
  padding-top: 160px;
  text-align: center;
  text-shadow: 2px 2px 5px $text-shadown;

  h1,
  p {
    color: $hero-text-color;
  }

  .no-image & {
    padding-top: 80px;
    text-shadow: none;

    p {
      color: #464646;
    }
  }

  @include tablet() {
    padding-top: 20vh;
  }
}

.hero-foot {
  color: $hero-text-color;

  .credit {
    text-align: right;
    font-size: 0.6em;
    text-shadow: 1px 1px 1px $text-shadown;
  }
}

.content {
  a {
    border-bottom: 2px solid $link;
    color: inherit;
    font-weight: 500;
    padding: 2px;

    &:active,
    &:focus,
    &:hover {
      background-color: $link;
      border-radius: 2px;
      color: $white;
    }
  }
}

.people {
  margin-bottom: 1em;

  @include mobile() {
    .people-card {
      margin-bottom: 1em;
    }

    .people-card-meta {
      overflow-x: initial;
    }

    .people-card-avatar {
      display: none;
    }
  }

  @include tablet() {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .title.is-4 {
    margin-bottom: 0.5em;
  }

  .people-card-meta {
    @include reset-links();
  }

  .people-card-meta-twitter {
    font-weight: 600;
  }

  .people-description {
    padding-left: 0px;
    padding-right: 0px;
  }

  .people-description-question {
    font-style: italic;
  }

  .image {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.people-badge {
  height: 2em;
  border-radius: 50%;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.partners {
  @include mobile() {
    .card {
      margin-bottom: 1em;
    }
  }

  @include tablet() {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.post {
  @include mobile() {
    .card {
      margin-bottom: 1em;

      .media-content {
        overflow-x: initial;
      }

      .media-left {
        display: none;
      }
    }
  }

  @include tablet() {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .subtitle {
    font-size: 1.1rem;
    color: #464646;
  }
}

.calendar {
  border: 0;
  width: 100%;
  height: 350px;
}