---
layout: categories
image: /images/posts.jpg
permalink: /categories/
title: Categories
---



{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}


{% for category in site.categories %}
<div class="category">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h1 class="category-head">{{ category_name }}</h1>
    <a name="{{ category_name | slugize }}"></a>

    <div class="category-container">
        {% for post in site.categories[category_name] %}

        <div class="category-item">

            <div>
                {% capture authors %}
                {% for id in post.authors %}, {% assign name = site.data['people'][id].first-name | default: id %}<a
                    href="/people#{{ id }}">{{ name }}</a>{% endfor %}
                {% endcapture %}
                <div class="card">
                    {% if post.image %}
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{ post.image }}" alt="{{ post.title }}">
                        </figure>
                    </div>
                    {% endif %}

                    <div class="card-content">
                        <div class="content">
                            <div class="title">
                                {% if post.external %}
                                <a href="{{ post.external }}">
                                    <p>{{ post.title | escape }}</p>
                                </a>
                                {% else %}
                                <a href="{{ post.url }}">
                                    <p>{{ post.title | escape }}</p>
                                </a>
                                {% endif %}
                            </div>

                            <p class="subtitle">
                                <time datetime="{{ post.date | date: date_format }}">{{ post.date | date: date_format
                                    }}</time>
                                - {{ authors | remove_first: ', ' | strip }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endfor %}
