{% assign all_participants = '' %}
{%- assign all_mentors = '' -%}
{%- assign all_experts = '' -%}
{%- assign all_facilitators = '' -%}
{%- assign all_projects = '' -%}
{%- assign openseeds_cohorts = site.data.openseeds | sort -%}
{%- assign catalyst_cohorts = site.data.catalyst | sort -%}

{%- assign cohorts = openseeds_cohorts | concat: catalyst_cohorts -%}

{%- for cohort in cohorts -%}
  {%- assign cohort_name = cohort[0] -%}
  {%- if cohort_name contains 'openseeds' -%}
    {%- assign program_data = site.data.openseeds[cohort_name] -%}
  {%- elsif cohort_name contains 'catalyst' -%}
    {%- assign program_data = site.data.catalyst[cohort_name] -%}
  {%- endif -%}
  
  {%- assign experts = program_data.metadata.experts | uniq | size -%}
  {%- capture all_experts %}{{ all_experts }}, {{ program_data.metadata.experts | join: ', ' }}{% endcapture -%}
  {%- assign facilitators = program_data.metadata.facilitators | uniq | size -%}
  {%- capture all_facilitators %}{{ all_facilitators }}, {{ program_data.metadata.facilitators | join: ', ' }}{% endcapture -%}
  {%- assign projects = program_data.projects -%}
  {%- assign mentors = '' -%}
  {%- assign participants = '' -%}
  {%- assign project_name = '' -%}
  {%- for project in projects -%}
      {%- for p in project.participants -%}
          {%- capture participants %}{{ participants }}, {{ p }}{% endcapture -%}
      {%- endfor -%}
      {%- for m in project.mentors -%}
          {%- capture mentors %}{{ mentors }}, {{ m }}{% endcapture -%}
      {%- endfor -%}
      {%- for p-name in project.name -%}
          {%- capture project_name %}{{ project_name }}, {{ p-name }}{% endcapture -%}
      {%- endfor -%}
  {%- endfor %}
  {%- assign cohort_mentors = mentors | remove_first: ', ' | split: ", " | uniq | sort | size -%}
  {%- capture all_mentors %}{{ all_mentors }}, {{ mentors }}{% endcapture -%}
  {%- assign cohort_participants = participants | remove_first: ', ' | split: ", " | uniq | sort | size -%}
  {%- capture all_participants %}{{ all_participants }}, {{ participants }}{% endcapture -%}
  {%- assign cohort_projects = project_name | remove_first: ', ' | split: ", " | uniq | sort | size -%}
  {%- capture all_projects %}{{ all_projects }}, {{ project_name }}{% endcapture -%}
  {%- assign cohort_schedule = program_data.schedule -%}
  {%- assign cohort_start = cohort_schedule.weeks['01'].start -%}
  {%- assign cohort_end = '' -%}
  {%- for week in cohort_schedule.weeks -%}
      {%- assign cohort_end = week[1].start -%}
  {%- endfor %}
{%- endfor -%}