{% assign cohort = include.cohort %}
{% assign program = include.program %}
{% assign people = site.data.people %}
{% assign program_data = site.data.[program][cohort] %}

{% assign projects = program_data.projects %}
{% assign schedule = program_data.schedule %}
{% assign metadata = program_data.metadata %}

{% assign all-participants = '' %}
{% assign all-mentors = '' %}
{% for project in projects %}
    {% assign p-pparticipants = '' %}
    {% for p in project.participants %}
        {% capture all-participants %}{{ all-participants}}, {{ p }}{% endcapture %}
    {% endfor %}
    {% for m in project.mentors %}
        {% capture all-mentors %}{{ all-mentors }}, {{ m }}{% endcapture %}
    {% endfor %}
{% endfor %}

{% assign p-participants = all-participants | remove_first: ', ' | split: ", " | uniq | sort %}
{% assign p-mentors = all-mentors | remove_first: ', ' | split: ", " | uniq | sort %}

{% assign all-speakers = '' %}
{% for w in schedule.weeks %}
    {% for c in w[1].calls %}
        {% if c.type == 'Cohort' %}
            {% for r in c.talks %}
                {% if r.speaker %}
                    {% capture all-speakers %}{{ all-speakers}}, {{ r.speaker }}{% endcapture %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% assign p-speakers = all-speakers | remove_first: ', ' | split: ", " | uniq | sort %}