<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% link index.md %}">
            <img src="/images/logo/ols-transparent-bg.png" alt="OLS">
        </a>
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="top-menu"
        >
          <span aria-hidden="true"></span> <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="top-menu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% link open-science-training.md %}">Open Science Training</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% link openseeds/index.md %}">Open Seeds</a>
              <a class="navbar-item" href="{% link nebula/index.md %}">Nebula</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% link open-research.md %}">Research on Open</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% link open-research.md %}#open-seeds-impact-research">Open Seeds Impact Research</a>
              <a class="navbar-item" href="{% link open-research.md %}#influencing-policy-to-widen-participation-in-open-data-science">Influencing policy to widen participation in open data science</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% link open-incubator.md %}">Open Incubator</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="https://catalystproject.cloud/">Catalyst</a>
              <a class="navbar-item" href="{% link open-incubator.md %}#fellowship-programmes">Fellowship Programmes</a>
              <a class="navbar-item" href="{% link open-incubator.md %}#facilitators-training-and-transcription-services">Facilitators Training and Transcription Services</a>
              <a class="navbar-item" href="{% link open-incubator.md %}#grant-writing-training">Grant writing training</a>
              <a class="navbar-item" href="{% link fiscal-hosting/index.md %}">Fiscal hosting</a>
              <a class="navbar-item" href="{% link _consulting/index.md %}">Consultancy & open research advice</a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">About</a>  
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% link people.md %}"> People </a>
              <a class="navbar-item" href="{% link ols-values.md %}"> Values </a>
              <a class="navbar-item" href="{% link community.md %}"> Team </a>
              <a class="navbar-item" href="{% link governance.md %}"> Governance </a>
              <a class="navbar-item" href="{% link funders.md %}"> Funding & Supporters </a>
              <a class="navbar-item" href="{% link partners.md %}"> Partners </a>
              <a class="navbar-item" href="{% link knowledge_management.md %}"> Knowledge Management System </a>
              <a class="navbar-item" href="{% link publications.md %}"> Citing OLS & Publications </a>
              <a class="navbar-item" href="{% link branding.md %}"> Branding </a>
              <a class="navbar-item" href="{% link events.md %}"> Events </a>
              <a class="navbar-item" href="{% link open-science.md %}"> Open Science </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% link policies-procedures-and-docs/index.md %}">Policies & Procedures</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% link code-of-conduct.md %}"> Code of Conduct </a>
              <a class="navbar-item" href="{% link openseeds/cohort-procedures-and-templates/graduation-guide.md %}"> Graduation Guide </a>
              <a class="navbar-item" href="{% link openseeds/cohort-procedures-and-templates/microgrants.md %}"> Microgrants </a>
              <a class="navbar-item" href="{% link openseeds/cohort-procedures-and-templates/speedblog.md %}"> Speedblog </a>
              <a class="navbar-item" href="{% link policies-procedures-and-docs/communications/hackmd-guide.md %}"> HackMD Guide </a>
              <a class="navbar-item" href="{% link policies-procedures-and-docs/communications/slack-guide.md %}"> Slack Guide </a>
              <a class="navbar-item" href="{% link policies-procedures-and-docs/fellows/ols-ssi-terms-conditions.md %}"> OLS/SSI Fellowship </a>
              <a class="navbar-item" href="{% link policies-procedures-and-docs/payments/honorarium.md %}"> Honoraria Policy </a>
              <a class="navbar-item" href="{% link policies-procedures-and-docs/payments/invoicing.md %}"> Invoicing OLS </a>
            </div>
          </div>
          
          <a class="navbar-item" href="{% link posts.md %}"> Stories </a>
        </div>
      </div>
    </div>
  </nav>
