<footer class="footer">
    <div class="container content">
      <div class="columns">
        <div class="column">
          <h3>Get in touch</h3>
          <p>
            <i class="fab fa-twitter"></i>
            <a href="https://twitter.com/{{ site.twitter }}">
              {{ site.twitter }}
            </a>
          </p>
          <p>
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/company/{{ site.linkedin }}">
              {{ site.linkedin }}
            </a>
          </p>
          <p>
            <i class="fab fa-youtube"></i>
            <a href="https://www.youtube.com/@{{ site.youtube_footer }}">
              {{ site.youtube_footer }}
            </a>
          </p>
          <p>
            <i class="fas fa-at"></i>
            <a href="mailto:{{ site.email }}">
              {{ site.email|replace:'@','[at]' }}
            </a>
          </p>
          <p>
            <i class="fab fa-github"></i>
            <a href="{{ site.github.repository_url }}">
              {{ site.github.owner_name }}
            </a>
          </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="{{ site.announcement_list }}">
                    Subscribe to our announcements list
                </a>
            </p>
        </div>
        <div class="column is-5">
          <p>
            If you want to report a problem or suggest an enhancement we'd love
            for you to
            <a href="{{ site.github.repository_url }}/issues/new">open an issue</a>
            on our GitHub repository because then we can get right on it.
          </p>
          <p>
            The website content is licensed
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>.
            The code behind the infrastructure is licensed under the <a href="{{ site.github.repository_url }}/blob/main/LICENSE.md">MIT License</a>
          </p>
          <p>
            Logo design by <a href="{% link people.md %}#jilaga">Jilaga Nneoma</a>. Other OLS branding assets are found at the <a href="{% link branding.md %}">OLS branding page</a>.
          </p>
          <p>
            Open Life Science Limited is a non-profit company limited by guarantee, based in the United Kingdom. 
            Company number 
            <a href="https://data.companieshouse.gov.uk/doc/company/12824090">12824090</a>.
              
            <a href="https://www.ngosource.org/about-equivalency-determination-on-file-badge" target="_blank" rel="noopener noreferrer" style="border-bottom: none;">
                <img src="https://www.ngosource.org/sites/default/files/ngosource-2.0-23.01.17-make-the-most-le-inline.png" alt="NGOsource Equivalency Determination (ED) Badge" style="height: 60px; margin-top: 1rem;">
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
