<footer class="footer">
    <div class="container content">
      <div class="columns">
        <div class="column">
          <h3>Get in touch</h3>
          <p>
            <i class="fab fa-twitter"></i>
            <a href="https://twitter.com/{{ site.twitter }}">
              {{ site.twitter }}
            </a>
          </p>
          <p>
            <i class="fas fa-at"></i>
            <a href="mailto:{{ site.email }}">
              {{ site.email|replace:'@','[at]' }}
            </a>
          </p>
          <p>
            <i class="fab fa-github"></i>
            <a href="{{ site.github.repository_url }}">
              {{ site.github.owner_name }}
            </a>
          </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="{{ site.announcement_list }}">
                    Subscribe to our announcements list
                </a>
            </p>
<br> <br> 

            <div id="google_translate_element"></div>
<script type="text/javascript">// <![CDATA[
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
// ]]></script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>

        </div>
        
        <div class="column is-5">
          <p>
            If you want to report a problem or suggest an enhancement we'd love
            for you to
            <a href="{{ site.github.repository_url }}/issues/new">open an issue</a>
            on our GitHub repository because then we can get right on it.
          </p>
          <p>
            The website content is licensed
            <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>.
          </p>
          <p>
            The logo was originally designed by
            <a href="https://github.com/htmluke">Lucas Emanoell Medeiros e Silva</a> and
            then adapted by the team.
          </p>
          <p>
            Open Life Science Limited is a non-profit charitable company limited by guarantee, based in the United Kingdom. 
            Company number 
            <a href="http://data.companieshouse.gov.uk/doc/company/12824090">12824090</a>.
          </p>
        </div>
    </div>

  </footer>
