<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">

        <a class="navbar-item" href="/">
            <img src="/images/logo.png" alt="Open Life Science">
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="top-menu"
        >
          <span aria-hidden="true"></span> <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="top-menu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/index#a-mentoring--training-program-for-open-science-ambassadors-in-life-science">The program</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/index#applications"> Applications </a>
              <a class="navbar-item" href="/index#projects"> Projects </a>
              <a class="navbar-item" href="/index#timeline"> Timeline </a>
              <a class="navbar-item" href="/index#the-program-itself"> The program itself </a>
              <a class="navbar-item" href="/index#cohort-calls"> Cohort Calls </a>

              <a class="navbar-item" href="/syllabus"> Syllabus </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/about">About</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/about#mentees"> Mentees </a>
              <a class="navbar-item" href="/about#mentors"> Mentors </a>
              <a class="navbar-item" href="/about#experts"> Experts </a>
              <a class="navbar-item" href="/about#organizers"> Organizers </a>
              <a class="navbar-item" href="/about#partners-and-sponsors"> Partners and sponsors </a>
              <a class="navbar-item" href="/code-of-conduct"> Code of Conduct </a>
            </div>
          </div>

          <a class="navbar-item" href="/posts"> Stories </a>
        </div>
      </div>
    </div>
  </nav>
