<div class="card funder-card" id="{{ funder.name }}">
    <div class="card-content">
      <div class="media">
        <div class="media-content funder-card-meta">
            
            <figure class="image is-128x128">
                <a href="{{ funder.website }}">
                {% if funder.logo %}
                <img class="funder-logo" src="{{ funder.logo }}" alt="Logo of {{ funder.name }}"/>
                {% endif %}
                </a>
            </figure>
            
            <p class="title is-4">
                {{ funder.name }}
            </p>
        </div>
      </div>
  
      <div class="funder-description">
        <p class="funder-description-question">
          <a class="card-toggle">
            {{ funder.name }}
            <i class="fa fa-angle-down"></i>
          </a>
        </p>
        <div class="content is-hidden">
            {{ funder.description | markdownify }}
        </div>
      </div>
    </div>
  </div>
  
