<section class="section home">
  <div class="columns">
    <div class="column is-centered">
      <span class="icon">
        <i class="fas fa-graduation-cap"></i>
      </span>
      <p class="title">Educate</p>
    </div>
    <div class="column">
      <span class="icon">
        <i class="fas fa-users"></i>
      </span>
      <p class="title">Share</p>
    </div>
    <div class="column">
      <span class="icon">
        <i class="fas fa-lightbulb"></i>
      </span>
      <p class="title">Inspire</p>
    </div>
  </div>
</section>
