<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% link nebula/index.md %}">
            <img src="/images/logo/nebula-full-transparent-bg.png" alt="OLS">
        </a>
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="top-menu"
        >
          <span aria-hidden="true"></span> <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="top-menu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% link nebula/about.md %}">The Program</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% link nebula/index.md %}#applications"> About Nebula </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% link nebula/index.md %}#cohorts">Cohorts</a>
            <div class="navbar-dropdown">
              <a class="navbar-item navbar-previous-title" href="{% link nebula/neb-1/index.md %}">Nebula 2024-1</a>
              <a class="navbar-item navbar-previous-title" href="{% link nebula/index.md %}#cohorts"> Previous cohorts </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Resources</a>
            <div class="navbar-dropdown">
              <!-- <a class="navbar-item" href="{% link nebula/resources.md %}"> Code of Conduct </a> -->
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">About OLS</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% link index.md %}">OLS</a>
              <a class="navbar-item" href="{% link people.md %}"> People </a>
              <a class="navbar-item" href="{% link community.md %}"> Team </a>
              <a class="navbar-item" href="{% link funders.md %}"> Funding & Supporters </a>
              <a class="navbar-item" href="{% link partners.md %}"> Partners </a>
              <a class="navbar-item" href="{% link publications.md %}"> Citing OLS & Publications </a>
              <!--<a class="navbar-item" href="/events"> Events </a>-->
            </div>
          </div>


          <a class="navbar-item" href="{% link posts.md %}"> Stories </a>
        </div>
      </div>
    </div>
  </nav>
