<div class="card partner-card" id="{{ partner.name }}">
    <div class="card-content">
      <div class="media">
        <div class="media-content partner-card-meta">
            
            <figure class="image is-128x128">
                <a href="{{ partner.website }}">
                {% if partner.logo %}
                <img class="partner-logo" src="{{ partner.logo }}" alt="Logo of {{ partner.name }}"/>
                {% endif %}
                </a>
            </figure>
            
            <p class="title is-4">
                {{ partner.name }}
            </p>
        </div>
      </div>
  
      <div class="partner-description">
        <p class="partner-description-question">
          <a class="card-toggle">
            {{ partner.name }} & OLS
            <i class="fa fa-angle-down"></i>
          </a>
        </p>
        <div class="content is-hidden">
            {{ partner.description | markdownify }}
        </div>
      </div>
    </div>
  </div>
  