<div class="card">
    <div class="card-content">
        <div class="content">
            {% if partner.logo %}
                <figure class="image">
                    <img src="{{ partner.logo }}"
                        alt="Logo of {{ partner.name }}"/>
                </figure>
            {% endif %}
        </div>

        <div class="content">
            {% if partner.website %}
                <a href="{{ partner.website }}">
                    <p class="title is-3">{{ partner.name }}</p>
                </a>
            {% else %}
                <p class="title is-3">{{ partner.name }}</p>
            {% endif %}
            
            <p class="description">{{ partner.description }}</p>

        </div>
    </div>
</div>
