<div class="card people-card" id="{{ username }}">
  <div class="card-content">
    <div class="media">
      <div class="media-left people-card-avatar">
        <figure class="image is-96x96">
          <img
            class="is-rounded"
            src="https://avatars.githubusercontent.com/{{ username }}"
            alt="The GitHub avatar of {{ user.name }}"
          />
        </figure>
      </div>
      <div class="media-content people-card-meta">
        <p class="title is-4">{{ user.name }}
            {% if user.pronouns %}
            ({{ user.pronouns }})
            {% endif %}
        </p>

        <p class="is-6">
          {% if user.twitter %}
          <i class="fab fa-twitter"></i>
          <a class="people-card-meta-twitter" href="https://twitter.com/{{ user.twitter }}">@{{ user.twitter }}</a>
          <br>
          {% endif %}
          {% if user.email %}
          <a href="mailto:{{ user.email }}"><i class="far fa-envelope"></i></a>
          {% endif %}
          {% if user.website %}
          <a href="{{ user.website }}"><i class="fas fa-globe"></i></a>
          {% endif %}
          <a href="https://github.com/{{ username }}"><i class="fab fa-github"></i></a>
          {% if user.gitter %}
          <a href="https://gitter.im/{{ user.gitter }}"><i class="fas fa-comments"></i></a>
          {% endif %}
          {% if user.orcid %}
          <a href="https://orcid.org/{{ user.orcid }}"><i class="ai ai-orcid"></i></a>
          {% endif %}
        </p>

        <p class="is-6">
        {% if user.affiliation %}
        {{ user.affiliation }},
        {% endif %}
        {% if user.country %}
        {{ user.country }}
        {% endif %}
        </p>
      </div>

    </div>

    <div class="content">{{ user.description }}</div>
  </div>
</div>
