{% assign author = site.data['people'][post.author] %}
<div class="col-md-6 grid-item">
    <div class="card">
        <a href="{{ post.url | absolute_url }}">
            {% if post.image %} <img class="img-fluid" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
            {% include post-metadata.html %}
        </div>
    </div>
</div>
