---
layout: page
---

Thank You! to the {{ site.data.people | size }} awesome people who participate in or contribute to Open Life Science!

<div class="community">
    {% for user in site.data.people %}
        {% assign username = user[0] %}
        {% assign details = user[1] %}
        <div class="card people-card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left people-card-avatar">
                        <figure class="image is-48x48">
                            <a href="#{{ username }}">
                                <img
                                    class="is-rounded"
                                    src="https://avatars.githubusercontent.com/{{ username }}"
                                    alt="The GitHub avatar of {{ details.name }}"/>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<h2>Details</h2>

<!-- OLS-1 -->
<!-- extract participants and mentors -->
{% assign ols-1-projects = site.data.ols-1-projects %}
{% assign ols-1-participants = '' %}
{% assign ols-1-mentors = '' %}
{% for project in ols-1-projects %}
    {% for p in project.participants %}
        {% capture ols-1-participants %}{{ ols-1-participants }}, {{ p }}{% endcapture %}
    {% endfor %}
    {% for m in project.mentors %}
        {% capture ols-1-mentors %}{{ ols-1-mentors }}, {{ m }}{% endcapture %}
    {% endfor %}
{% endfor %}
<!-- extract experts and organizers -->
{% assign ols-1-experts = site.data.ols-1-metadata.experts %}
{% assign ols-1-organizers = site.data.ols-1-metadata.organizers %}

<!-- OLS-2 -->
<!-- extract participants and mentors -->
{% assign ols-2-projects = site.data.ols-2-projects %}
{% assign ols-2-participants = '' %}
{% assign ols-2-mentors = '' %}
{% for project in ols-2-projects %}
    {% for p in project.participants %}
        {% capture ols-2-participants %}{{ ols-2-participants }}, {{ p }}{% endcapture %}
    {% endfor %}
    {% for m in project.mentors %}
        {% capture ols-2-mentors %}{{ ols-2-mentors }}, {{ m }}{% endcapture %}
    {% endfor %}
{% endfor %}
<!-- extract experts and organizers -->
{% assign ols-2-experts = site.data.ols-2-metadata.experts %}
{% assign ols-2-organizers = site.data.ols-2-metadata.organizers %}

<div class="people">
    {% for entry in site.data.people %}
        {% assign username = entry[0] %}
        {% assign user = entry[1] %}
        {% include _includes/people.html username=username user=user %}
    {% endfor %}
</div>


