---
layout: base
---

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<section class="hero {% unless page.image %} no-image{% endunless %}"{% if page.image %} style="background-image: linear-gradient(to top, #000, transparent), url({{ page.image }});"{% endif %}>
  <div class="hero-body">
    <h1 class="title is-1">{{ page.title }}</h1>

    {% if page.description %}
      <p class="subtitle is-3">{{ page.description }}</p>
    {% endif %}

    {% if page.layout == 'post' %}
      {% capture authors %}
      {% for id in page.authors %}, {% assign name = site.data['people'][id].name | default: id %}{{ name }}{% endfor %}
      {% endcapture %}
      <p class="subtitle is-5">
          <time datetime="{{ page.last_modified_at | date: date_format }}">{{ page.last_modified_at | date: date_format }}</time>
          - {{ authors | remove_first: ', ' | strip }}
      </p>
    {% endif %}
  </div>

  {% if page.photos %}
  <div class="hero-foot">
    <p class="credit"><a href="{{ page.photos.link }}">{{ page.photos.name }}</a> ({{ page.photos.license }})</p>
  </div>
  {% endif %}
</section>

<section class="section">
  <div class="container content {{ layout.css }} {{ page.css }}">
    {{ content }}
  </div>
</section>
