---
layout: default
---

<div class="row">
    <div class="col-sm-8">
        <p>
            <small>
                <span class="post-date">
                    <i class="fas fa-calendar-alt"></i>
                    <time class="post-date" datetime="{{ page.starts | date:"%Y-%m-%d" }}">{{ page.starts | date_to_string }}</time>
                    -
                    <time class="post-date" datetime="{{ page.ends | date:"%Y-%m-%d" }}">{{ page.ends | date_to_string }}</time>
                </span>
                <br/>
                <span class="post-date"><i class="fas fa-map-marker"></i>
                    {% assign sep = '' %}
                    {% for loc in page.locations %}
                        {{ sep }}{{ loc.city }}, {{ loc.country }}
                        {% assign sep = ' - ' %}
                    {% endfor %}
                </span>
            </small>
        </p>

        <div class="article-post">
            {{content}}
            <div class="clearfix"></div>
        </div>

        <div class="row PageNavigation mt-4 prevnextlinks">
            {% if page.previous.url %}
            <div class="col-md-6 rightborder pl-0">
                <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo; {{page.previous.title}}</a>
            </div>
            {% endif %}
            {% if page.next.url %}
            <div class="col-md-6 text-right pr-0">
                <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>
</div>
