---
layout: default
---

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
{% assign events = site.events | sort:"starts" | reverse %}

<section class="section-content">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic/Event</th>
          <th class="is-hidden-mobile">Starts</th>
          <th class="is-hidden-mobile">Ends</th>
          <th class="is-hidden-mobile">Location</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>
            <h4><a href="{{ event.url | absolute_url }}">{{ event.title | escape }}</a></h4>
            <div>{{ event.excerpt }}</div>
          </td>
          <td class="is-hidden-mobile">
            <span class="text-nowrap"
              >{{ event.starts | date: date_format }}</span
            >
          </td>
          <td class="is-hidden-mobile">
            <span class="text-nowrap"
              >{{ event.ends | date: date_format }}</span
            >
          </td>
          <td class="is-hidden-mobile">
            {% assign sep = '' %}
            {% for loc in event.locations %}
              {{ sep }}{{ loc.city }}
              {% assign sep = ' - ' %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
