---
layout: base
---

<div class="qr-container">
    <div class="qr-header">
        <div class="qr-logo">
            <a href="{{ site.url }}"><img src="../images/logo.png" alt="logo of Open Life Science"></a>
        </div>
        <div class="qr-description">
            <div class="about-div">
                <p>{{ site.data.links.description }}</p>
            </div>
        </div>
    </div>

    {% for item in site.data.links.items %}
    <div class="main">
        <a href="{{ item.link }}" class="button is-link">
            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
            {{ item.text }}
        </a>
    </div>
    {% endfor %}
</div>