---
layout: index
---

<div class="qr-container">
    <div class="qr-description">
        <div class="about-div">
            <p>
                The OLS program is for people interested in applying open principles in their 
                work and becoming Open Science ambassadors in their communities.
            </p>
        </div>
    </div>

    <div class="main">
        <div class="row applications">
            <p>Interested in participating in our 16-week long personal mentorship and cohort-based training?
                Read about the <a href="/index#applications">application process</a> here.
            </p>
        </div>
        
        <div class="row events">
            <p>
                Upcoming <a href="/events">events</a>.
                <!-- A direct link to OLS events page-->
            </p>
        </div>
        
        <div class="row blog">
            <p>
                Stay up-to-date with the latest happenings by reading our <a href="/posts">posts</a>.
            </p>
        </div>

        <div class="row twitter">
            <p>
                <a href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i>Twitter
                </a>
            </p>
        </div>

        <div class="row linkedin">
            <p>
                <a href="https://www.linkedin.com/company/openlifesci/"><i class="fab fa-linkedin-in"></i>Linkedin
                </a>
            </p>
        </div>

        <div class="row email">
            <p>
                <a href="mailto:{{ site.email }}"><i class="fas fa-at"></i>Email
                </a>
            </p>
        </div>

        <div class="row github">
            <p>
                <a href="{{ site.github.repository_url }}"><i class="fab fa-github"></i>Github
                </a>
            </p>
        </div>

        <div class="row youtube">
            <p>
                <a href="{{ site.youtube }}"><i class="fab fa-youtube"></i>Youtube
                </a>
            </p>
        </div>
    </div>
</div>