---
layout: default
---

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<div class="post">
{% for post in site.posts %}
    {% capture authors %}
    {% for id in post.authors %}, {% assign name = site.data['people'][id].name | default: id %}{{ name }}{% endfor %}
    {% endcapture %}
    <div class="card">
        {% if post.image %}
        <div class="card-image">
            <figure class="image">
            <img src="{{ post.image }}" alt="{{ post.title }}">
            </figure>
        </div>
        {% endif %}

        <div class="card-content">
            <div class="content">
                {% if post.external %}
                    <a href="{{ post.external }}"><p class="title">{{ post.title | escape }}</p></a>
                {% else %}
                    <a href="{{ post.url }}"><p class="title">{{ post.title | escape }}</p></a>
                {% endif %}

                <p class="subtitle"> 
                    <time datetime="{{ post.last_modified_at | date: date_format }}">{{ post.last_modified_at | date: date_format }}</time>
                    - {{ authors | remove_first: ', ' | strip }}
                </p>
            
                {{ post.excerpt }}
            </div>
        </div>
    </div>
{% endfor %}
</div>