name: Update artifacts

on:
  schedule:
    # We'll run this weekly
    - cron:  '0 12 * * 1'
  workflow_dispatch:

jobs:
  update-schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.2.0
        with:
        #  channels: conda-forge,defaults
        #  channel-priority: true
          activate-environment: ols-website
          environment-file: environment.yml

      - shell: bash -el {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show

      - name: Update people data artifacts
        shell: bash -el {0}
        run: |
          python bin/prepare_website_data.py extractfullpeopledata

      - name: Update Open Seeds library artifacts
        shell: bash -el {0}
        run: |
          python bin/prepare_website_data.py extractlibrary -p "openseeds"

      - name: Update Open Seeds projects
        shell: bash -el {0}
        run: |
          python bin/prepare_website_data.py createprojecttable -p "openseeds"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Update artifacts
          title: Automatic artifact update
          body: Automatic artifact update done via GitHub Action once a week
          base: main
          branch: artifact-update
          delete-branch: true