name: Update schedule

on:
  schedule:
    # We'll run this weekly
    - cron:  '0 12 * * 1'
  workflow_dispatch:

jobs:
  update-schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.2.0
        with:
        #  channels: conda-forge,defaults
        #  channel-priority: true
          activate-environment: ols-website
          environment-file: environment.yml

      - shell: bash -el {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show

      - name: Update schedule
        shell: bash -el {0}
        run: |
          bash bin/update_schedule.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Update schedule
          title: Automatic schedule update
          body: Automatic schedule update done via GitHub Action
          base: main
          branch: schedule-update
          delete-branch: true